@import url('https://fonts.cdnfonts.com/css/public-pixel');

body{
    background-color: RGB(1,130,129);
    /* font-family: "ＭＳ Ｐゴシック", Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Public Pixel', sans-serif;
    overflow: hidden;

}

.application{
    width: 70vw;
    height: 90vh;
    margin: 0 auto;
    background-color: lightgray;
    padding: 0.3rem;
    box-shadow: inset 0.2rem 0.2rem white, inset -0.2rem -0.2rem darkgray;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* HEADER AREA BUTTONS AND SETTINGS */

header{
    background-color: darkblue;
    padding: 0.3rem;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    color: antiquewhite;
    
}

.right{
    margin-left: auto;
}
.left{
    font-weight: bold;
}

button.top-right{
    width: 1rem;
    height: 1rem;
    font-size: small;
    padding: 0;
    background-color: lightgray;
    border: 0;
    box-shadow: inset 0.1rem 0.1rem white,  0.1rem 0.1rem black;
}
button.top-right:active{
    color: white;
    background-color: darkgrey;
    
}


.setting-container, .setting{
    background-color: lightgrey;
    padding: 0.2rem;
    border: 0;
}

.setting-container{
    box-shadow: 0rem 0.1rem darkgrey;
    z-index: 1;
}


.setting:active{
    color: white;
}


/* Middle Section */
.center-container{
    display: flex;
    background-color:lightgrey;
    height: 80%;
    padding: 0rem 0.5rem;
}

.left-container{
    display: flex;
    flex-direction: column;
    width: 8%;
    height: 100%;
    padding: 0;
    margin: 0;
    gap: 1%;
}

.tool-container, .brush-container{
    width: 90%;
    height: 45%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow:inset -0.1rem -0.1rem 0rem black,inset 0.1rem 0.1rem white, 0.1rem 0.1rem black;
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    overflow: auto;
}

.tool, .brush{
    border: none;
    box-shadow:inset -0.1rem -0.1rem 0rem black,inset 0.1rem 0.1rem white;
    background-color: lightgray;
    font-size: larger;
    min-width: 50%;
}

button{
    cursor:pointer;
}

.tool:active, .brush:active{
    background-color: white;
    box-shadow:inset 0.1rem 0.1rem 0rem black,inset -0.1rem -0.1rem lightgray;

}

.brush-container{
    box-shadow:inset 0.1rem 0.1rem 0rem darkgrey,inset -0.1rem -0.1rem white;
    width: 80%;
    align-content: space-around;
}

.brush{
    box-shadow: none;
    margin: 0 auto;
    width: 90%;
    height: fit-content;
}




.canvas-container{
    width: 90%;
    /* overflow: scroll; */
    overflow: auto;
    box-shadow: inset 0.2rem 0.2rem 0.1rem darkgray, inset -0.1rem -0.1rem white;
    background-image: url('./images/transparent.jpg');
    background-repeat: repeat;
    background-size: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid darkgray;

}



.canvas-container{
    background-color: lightgray;
}

.canvas-block{
    background-color: black;
    height: 35rem;
    width: 35rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* align-items: flex-start; */
    
}


/* Main canvas pixels */
.canvas-pixel{
    margin: 0;
    padding: 0;
    gap: 0;

    background-color: brown;
}










/* COLOUR CONTAINER SECTION */

.color-container{
    width: 100%;
    height: 10%;
    min-height: fit-content;
    box-shadow: inset 0rem 0.1rem darkgrey, inset 0rem 0.2rem white ,inset 0rem -0.1rem white, inset 0rem -0.2rem darkgrey;
    display: flex;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1%;
}

.main-color{
    /* background-color: red; */
    box-shadow:inset 0.2rem 0.2rem 0rem black,inset -0.2rem -0.2rem white;
    background-color:rgb(230, 230, 230);
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 1rem;
}

.color-selection{
    height: 100%;
    width: 10%;
    margin-left: 1%;
    /* background-color: blue; */
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.colors{
    height: 45%;
    box-shadow:inset 0.1rem 0.1rem 0rem black;
    border: 1px solid lightgray;
    background-color: white;
    aspect-ratio: 1/1;
}

.color-1, .color-2 {
    box-shadow:inset 0.2rem 0.2rem white, inset -0.2rem -0.2rem darkgrey;
    position: absolute;
    margin: 0 0;
}

.color-1{
    background-color: black;
    left: 10%;
    top: 10%;
    z-index: 1;
}
.color-2{
    right: 10%;
    bottom: 10%;
    z-index: 0;
}

/* Bottom Footer Section with Slider */


footer{
    width: 100%;
    height: 5%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.size-slider{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: darkgray;
    cursor: pointer;
    width: 15%;
    height: fit-content;
    opacity: 0.9;
    /* box-shadow:inset -0.1rem -0.1rem 0rem black,inset 0.1rem 0.1rem white; */
    border: 2px solid gray;
    padding: 0.1rem;
}

.size-slider:hover{
    opacity: 1;
}

.size-slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    height: 1rem;
    width: 1rem;
}



